<div class="row me-0 fixed-bottom bg-body-tertiary">
    <div class="col-md-6 p10">
      <span class="ps-2">Designed & Developed by {{name}} </span>
    </div>
    <div class="col-md-6 p10 footerIcon text-end">
      <ul>
          <i class="fab fa-facebook-f footer-icon"></i>
          <i class="fab fa-twitter footer-icon"></i>
          <i class="fab fa-instagram footer-icon"></i>
          <i class="fab fa-linkedin-in footer-icon"></i>
          <i class="fab fa-youtube footer-icon"></i>
          <i class="fab fa-github footer-icon"></i>
          <i class="fab fa-whatsapp footer-icon"></i>
      </ul>
    </div>
  </div>