<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" routerLinkActive="active" >All Trends</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/machineLearning">Machine Learning</a></li>
            <li><a class="dropdown-item" routerLink="/deepLink">Deep Learning</a></li>
            <li>
              <a class="dropdown-item" routerLink="/genAi">Gen AI &raquo;</a>
              <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" routerLink="/chatGpt">Chat GPT</a></li>
                <li><a class="dropdown-item" routerLink="/copilot">Copilot</a></li>
                <li><a class="dropdown-item" routerLink="/midJourney">Mid Journey</a></li>
                <li><a class="dropdown-item" routerLink="/gemini">Gemini</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="/registration" routerLinkActive="active">Registration</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contactus" routerLinkActive="active">Contact Us</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/registration" routerLinkActive="active">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
